<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Autor(a)</th>
            <th>Preço</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.author }}</td>
            <td>{{ product.price | currency:'BRL' }}</td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-info mr-1 btn-options" 
                    [routerLink]="['update', product.id]">
                Editar
                </button>
                <button 
                    type="button" 
                    class="btn btn-danger btn-options"
                    (click)="deleteProduct(product)">
                Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>